<h2>Administration of teams</h2>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Club name</th>
        <th>Championship name</th>
        <th>Country</th>
        <th>Budget</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams track by $index">
        <td>{{team.id}}</td>
        <td>{{team.clubName}}</td>
        <td>{{team.championshipName}}</td>
        <td>{{team.country}}</td>
        <td>{{team.budget}}</td>
        <td>
            <button ng-click="deleteTeam(team)" type="button" class="btn btn-primary">Delete</button>
        </td>
        <td>
            <a ng-hide="!team.updatable" ng-href="#!/admin/teams/{{team.id}}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Update team
            </a>
        </td>

    </tr>
    </tbody>
</table>

<!-- button for adding a new category -->
<a href="#!/admin/newteam" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New team
</a>
