<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Player update</title>
</head>
<body>
<h1>{{ player.playerName }}</h1>
<p>- {{ player.nationality }}</p>
<p>- {{ date }}</p>

<form name="form" novalidate class="form-horizontal">
    <input id="id" name="id" value="{{player.id}}" type="hidden"/>

    <div class="form-group" ng-class="{'has-error': !(form.rating.$valid)}">
        <label for="rating" class="col-sm-2 control-label">Rating</label>
        <div class="col-sm-10">
            <input integer placeholder="{{ player.rating }}" type="number" min="1" max="100" id="rating" name="rating"
                   class="form-control" ng-model="player.rating" required/>
            <span class="help-block" ng-show="form.rating.$error.required">player's rating is required</span>
            <span class="help-block" ng-show="form.rating.$error.min">player's rating must be more than 0</span>
            <span class="help-block" ng-show="form.rating.$error.max">player's rating must be less than 100</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !(form.position.$valid)}">
        <label for="position" class="col-sm-2 control-label">Position</label>
        <div class="col-sm-10">
            <select id="position" name="position" class="form-control" ng-model="player.position" required>
                <option ng-repeat="position in positions" value="{{ position }}"
                        ng-selected="position == player.position">{{ position }}
                </option>
            </select>
            <span class="help-block" ng-show="form.position.$error.required">player's position is required</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !(form.footed.$valid)}">
        <label for="footed" class="col-sm-2 control-label">Footed</label>
        <div class="col-sm-10">
            <select id="footed" name="footed" class="form-control" ng-model="player.footed" required>
                <option ng-repeat="footed in footed_options" value="{{ footed }}" ng-selected="footed == player.footed">
                    {{ footed }}
                </option>
            </select>
            <span class="help-block" ng-show="form.footed.$error.required">player's foot preference is required</span>
        </div>
    </div>

    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="update(player)">Update</button>
    <a href="#!/players">
        <button class="btn btn-primary">Cancel</button>
    </a>
</form>

</body>
</html>