<div>
    <h1 style="text-align: center">My Team: <b>{{team.clubName}}</b></h1>
    <p><b>Country: </b> {{team.country}}</p>
    <p><b>Championship: </b>{{team.championshipName}}</p>
    <p><b>Budget: </b>{{team.budget}}</p>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Nationality</th>
            <th>Birthday</th>
            <th>Rating</th>
            <th>Position</th>
            <th>Footed</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in team.players track by $index">
            <td>{{player.id}}</td>
            <td>{{player.playerName}}</td>
            <td>{{player.nationality}}</td>
            <td>{{player.birthDate}}</td>
            <td>{{player.rating}}</td>
            <td>{{player.position}}</td>
            <td>{{player.footed}}</td>
            <td>
                <button ng-click="removePlayerFromTeam(team, player)" type="button" class="btn btn-primary">Remove from team</button>
            </td>
        </tr>
        </tbody>
    </table>

    <a ng-href="#!/teams/{{team.id}}/addplayer" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add a player to my team
    </a>
</div>
